APP_ENV=development
APP_DEBUG=true
API_ALLOWED_ORIGIN=http://localhost:3000

DB_HOST=mysql
DB_PORT=3306
DB_NAME=rutkacms
DB_USER=rutka
DB_PASS=rutka123

LEGACY_CONFIG_PATH=config/legacy-config.example.txt
